<tr>
  <td><%= item.title %></td>
  <td><%= item.url %></td>
  <td><%= item.content %></td>
  <td><%= link_to 'show', item %></td>
  <td><%= link_to 'Edit', edit_admin_item_path(item) %></td>
  <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
