
<li class="media">
  <div class="media-left">
    <a href="#">
      <%= render_votes_for_item(item) %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <% if item.url.present? %>
        <%= link_to item.title, item.url, title: item.url, target: '_blank' %>
        <small>(<%= URI.parse(item.url).host %>)</small>
      <% else %>
        <%= link_to item.title, item, title: truncate(item.content, length: 30) %>
        <small><%= link_to '[discussion]', item %></small>
      <% end %>
    </h4>
    <small>
      <%= item.score %> points
      by <%= render_link_to_user(item.user) %> <%= link_to "#{time_ago_in_words(item.created_at)} ago", item %>
      | <%= link_to "#{item.comments_count} comments", item %>
    </small>
  </div>
</li>
