<h1>Items</h1>
<ul class="item-list">
  <% @items.each do |item| %>
    <li class="item">
      <span>[<%= item.score %>]</span>
      <%= link_to item.title, item, title: item.url %> <br/>
      <small>
        <%= render_votes_for_item(item) %>
      </small>
      <span>comments: <%= item.comments_count %></span>
      <span><small>(posted by: <%= link_to item.user.username, item.user %>)</small></span>
    </li>
  <% end %>
</ul>
