<p>
  <strong>[score: <%= @item.score %>]</strong>
  <%= render_votes_for_item(@item) %>
  <span>comments: <%= @item.comments_count %></span>
</p>

<p>
  <strong>
    <%= link_to @item.title, @item, title: @item.url %>
    <small>(<%= @item.url %>)</small>
  </strong>
  <span><small>(posted by: <%= link_to @item.user.username, @item.user %>)</small></span>
</p>

<ul>
  <% if current_user %>
    <li>
      <%= simple_form_for([@item, current_user.item_comments.build]) do |f| %>
        <%= f.input :content, label: false, required: true %>
        <%= f.button :submit %>
      <% end %>
    </li>
  <% end %>

  <% @comments.each do |comment| %>
    <%= content_tag_for(:li, comment) do %>
      <span>
        created: <%= link_to time_ago_in_words(comment.created_at), item_path(@item, anchor: "comment") %> ago.
        <small>(posted by: <%= link_to comment.user.username, comment.user %>)</small>
      </span>
      <br/>
      <small>
        <%= comment.content %>
      </small>
    <% end %>
  <% end %>
</ul>
