<!DOCTYPE html>
<html>
<head>
  <title>Rails Hackernews Reddit Producthunt Clone Github</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:70px">
<%= render 'components/top_navigation' %>
<%= yield :headerwrap %>

<div id="service">
  <div class="container">
    <%= yield %>
  </div>
</div>

<%= render 'components/google_analytics' %>
<%= yield :javascripts %>
</body>

</html>
