<!DOCTYPE html>
<html>
<head>
  <title>RailsHackernewsRedditProducthunt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:70px">
<%= render 'components/top_navigation' %>
<%= render 'components/login_register' %>

<div id="service">
  <div class="container">
    <%= yield %>
  </div>
</div>
<%# render partial: 'layouts/index' %>

<% if current_user %>
  <script>
    window.current_user = <%= current_user.to_json.html_safe %>;
  </script>
<% end %>
</body>
</html>
